@model HomeViewModel

<partial name="_Carousel" />

<h2>Candy On Sale</h2>

<div class="row">

    @foreach (var tire in Model.TireOnSale)
    {
        <partial name="_tireCard" model="tire" />
    }

</div>
